<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <form action="/forgot-password" method="POST">
      <label for="username">UserName</label>
      <input
        id="username"
        name="username"
        placeholder="Email"
        type="email"
        required
      />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" maxlength="6" />
      <label for="confirmpassword"> Confirm Password</label>
      <input
        id="confirmpassword"
        name="confirmPassword"
        type="password"
        maxlength="6"
        required
      />
      <% if (passWordMisMatch) {%>
      <p class="error">Password doesn't match</p>
      <% }%> <% if(error !== null){%> <% error.forEach(e =>{%>
      <p class="error"><%= e.msg %></p>
      <%})%> <%}%>
      <button>Save</button>
    </form>
  </body>
</html>
