<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style.css" />
    <title>Members Only</title>
  </head>
  <body>
    <div class="container">
      <h1>Sign Up</h1>
      <form action="/sign-up" method="POST">
        <label for="firstname">First Name</label>
        <input
          id="firstname"
          name="firstName"
          placeholder="First Name"
          type="text"
          maxlength="20"
          required
        />
        <label for="lastname">Last Name</label>
        <input
          id="lastname"
          name="lastName"
          placeholder="Last Name"
          type="text"
          maxlength="20"
          required
        />
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          placeholder="Email"
          type="email"
          required
        />
        <% if (emailExists) {%>
        <p class="error">User with same email already exists</p>
        <% }%>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" maxlength="6" />
        <label for="confirmpassword"> Confirm Password</label>
        <input
          id="confirmpassword"
          name="confirmPassword"
          type="password"
          maxlength="6"
          required
        />
        <% if (passWordMisMatch) {%>
        <p class="error">Password doesn't match</p>
        <% }%> <% if(error !== null){%> <% error.forEach(e =>{%>
        <p class="error"><%= e.msg %></p>
        <%})%> <%}%>
        <button>Sign Up</button>
        <p class="registration">
          Already a member? Login <a href="/">here.</a>
        </p>
      </form>
    </div>
  </body>
</html>
